/* .form-select,.dark option{
    background-color:#212529!important;
    color:white;
} */
.dark .form-select{
    background-color:black!important;
    color: white;
}

.darkBg{
    background-color: black!important;
    color: white !important;
}